<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%- include('./partials/scripts.ejs') %>

</head>
<body class="bg-light">
<%- include('./partials/nav.ejs') %>
<script src="/javascripts/search.js"></script>

<div class="container">
    <div id="products" class="d-flex p-2 justify-content-center row">
        <div>
            <table class="table table-dark table-fit">
                <thead>
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col" class="text-center">
                        <button id="addNewProductButton" type="button" class="btn btn-success">
                            Add New Product
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <% data.forEach(function(item) { %>
                    <tr>
                        <td id="name_<%= item.name %>" class="text-center"
                            data-name="<%= item.name %>"> <%= item.name %> </td>
                        <td id="description_<%= item.name %>" class="text-center"
                            data-description="<%= item.description %>"> <%= item.description %> </td>
                        <td id="price_<%= item.name %>" class="text-center" data-price="<%= item.price %>">
                            $<%= item.price %> </td>
                        <td id="quantity_<%= item.name %>" class="text-center"
                            data-quantity="<%= item.quantity %>"> <%= item.quantity %> </td>
                        <td class="text-center">
                            <button data-name="<%= item.name %>" type="button" class="btn btn-primary m-2 editButton">
                                Edit
                            </button>
                            <button data-name="<%= item.name %>" type="button" class="btn btn-danger m-2 deleteButton">
                                Delete
                            </button>
                        </td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add/Edit Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex justify-content-center">
                    <div class="flex-md-grow-1">
                        <input type="text" class="form-control m-1" id="name" name="name" placeholder="Enter name">
                        <input type="text" class="form-control m-1" id="description" name="description"
                               placeholder="Enter description">
                        <input type="number" step="0.01" class="form-control m-1" id="price" name="price"
                               placeholder="Enter price">
                        <input type="number" step="1" class="form-control m-1" id="quantity" name="quantity"
                               placeholder="Enter quantity">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="saveButton" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        let editing = false;
        let name = "";
        $(document).on('click', '.deleteButton', function () {
            event.preventDefault();
            event.stopPropagation();
            name = getDataAttribute("name", this);
            deleteProduct(name);
        });

        $(document).on('click', '.editButton', function () {
            editing = true;
            name = getDataAttribute("name", this);
            let descriptionElement = document.getElementById("description_" + name);
            let priceElement = document.getElementById("price_" + name);
            let quantityElement = document.getElementById("quantity_" + name);
            document.getElementById("name").value = name;
            document.getElementById("description").value = getDataAttribute("description", descriptionElement);
            document.getElementById("price").value = getDataAttribute("price", priceElement);
            document.getElementById("quantity").value = getDataAttribute("quantity", quantityElement);
            $("#productModal").modal();
        });

        $(document).on('click', '#addNewProductButton', function () {
            editing = false;
            $("#productModal").modal('toggle');
            document.getElementById("name").value = "";
            document.getElementById("description").value = "";
            document.getElementById("price").value = "";
            document.getElementById("quantity").value = "";
        });

        $(document).on('click', '#saveButton', function () {
            let productHash = {};
            productHash['name'] = document.getElementById("name").value;
            productHash['description'] = document.getElementById("description").value;
            productHash['price'] = document.getElementById("price").value;
            productHash['quantity'] = document.getElementById("quantity").value;

            for (let key in productHash) {
                if (productHash[key] === "" || !productHash[key]) {
                    alert("ALL FIELDS MUST BE FILLED!");
                    return;
                }
            }
            if (editing) {
                editProduct(name, productHash);
            } else {
                addProduct(productHash);
            }
        });

        function reloadTable() {
            $('#products').load(document.URL + ' #products');
        }

        function getDataAttribute(type, element) {
            return element.getAttribute("data-" + type);
        }

        function addProduct(productHash) {
            $.ajax({
                url: "/products",
                data: {
                    name: productHash['name'],
                    description: productHash['description'],
                    price: productHash['price'],
                    quantity: productHash['quantity']
                },
                type: 'POST',
                success: function () {
                    reloadTable();
                    $("#productModal").modal('toggle');
                },
                error: function (request, error) {
                    alert("Request: " + JSON.stringify(error));
                }
            });
        }

        function editProduct(productName, productHash) {
            $.ajax({
                url: "/products/" + productName,
                data: {
                    name: productHash['name'],
                    description: productHash['description'],
                    price: productHash['price'],
                    quantity: productHash['quantity']
                },
                type: 'PUT',
                success: function () {
                    reloadTable();
                    $("#productModal").modal('toggle');
                },
                error: function (request, error) {
                    alert("Request: " + JSON.stringify(error));
                }
            });
        }

        function deleteProduct(productName) {
            $.ajax({
                url: "./" + productName,
                type: 'DELETE',
                success: function () {
                    reloadTable();
                },
                error: function (request, error) {
                    alert("Request: " + JSON.stringify(error));
                }
            });
        }
    });
</script>
<%- include('./partials/footer.ejs') %>
</body>
</html>