<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <%- include('./partials/scripts.ejs') %>

</head>
<body class="bg-light">

  <%- include('./partials/nav.ejs') %>
  <script src="/javascripts/search.js"></script>
    <div id="items"></div>
  
    <% data.forEach(element => { %>

      <div class="card bg-light mb-3" style="max-width: 40rem; margin: 0 auto;">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <div class="">Ordered: <%- element.productName %> </div>
            <div class="">Total Price: $<%- element.totalPrice %></div>
            <div class="">Ship to: <%- element.username %></div>
          </div>
        </div>
      </div>
     
    <% }) %>
    
   
    
    <div id="partial"></div>

    <script>
     
    $('#partial').html('');
    $('#partial').append(`<%- include('./partials/footer.ejs') %>`);
    </script>
  
</body>
</html>