<!doctype html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
</head>
<body class="bg-light">
    <!--Navigation bar (log in, sign up, log out, search)-->
    <%- include('./partials/nav.ejs') %>

    <div class = "row">
        <div class="col text-center">
			<!-- name -->
			<h3><%=item[0].name%></h3>  
			<!-- Image -->
            <img src="/img/beer_test_img.jpg" class="img-fluid" alt="Responsive image">
        </div>
    
        <div class="col">
			</br></br>
			<!-- description -->
			<p> <%=item[0].description%> </p>
			<!-- price -->
            <div id = "price" value = <%=item[0].price%>>
                <p>Price: $<%=item[0].price%></p>
			</div>
			<!-- quantity -->
            <div class="input-group">
                <input type="number" id = "qty" name="quant[1]" value="1" min="1" max="50">
                <button>Add To Cart</button>
            </div>  
        </div>
    </div>

    <script>
        $(document).ready(function(){
            console.log($("#price").val());
            var price = parseFloat($("#price").val());
            console.log(price);
            var quantity = $("#qty").val();
            console.log(quantity);
            
            function calcPrice(p, q) {
                return p * q;
            }

            $("#qty").change(function(event){
                event.preventDefault();
                // alert($("#qty").val());
                $.ajax({
                    url: "./<%=item[0].name%>",
                    type: "GET",
                    contentType: "json",
                    data: "",
                    success: function () {
                        document.getElementById("price").innerHTML = "Price: $" + calcPrice(price, quantity);
                    },
                    error: function (request, error) {
                        alert("Request: " + JSON.stringify(error));
                    }
                });
            });
            
            function addToCart(){

            }

        });
    </script>
    
    <br>
    <%- include('./partials/footer.ejs') %>

</body>
</html>