<!doctype html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
<body class="bg-light">
    <!--Navigation bar (log in, sign up, log out, search)-->
    <%- include('./partials/nav.ejs') %>

    <div class = "row">
        <div class="col text-center">
			<!-- name -->
			<h3><%=item[0].name%></h3>  
			<!-- Image -->
            <img src="/img/beer_test_img.jpg" class="img-fluid" alt="Responsive image">
        </div>
    
        <div class="col">
			</br></br>
			<!-- description -->
			<p> <%=item[0].description%> </p>
			<!-- price -->  
            <div id = "price" data-price = "<%=item[0].price%>">
                <p>Price: $<%=item[0].price%></p>
			</div>
			<!-- quantity -->
            <div class="input-group">
                <input type="number" id = "qty" name="quant[1]" value="1" min="1" max="50">
                <button id = "addToCart">Add To Cart</button>
            </div>  
            <div id = "successAlert" class="alert alert-success" role="alert" style = "display: none;">
                Added to Cart!
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function(){
            // getting data from db
            var currentQuantity = parseInt($("#qty").val());
            var product = {
                name: "<%=item[0].name%>",
                description: "<%=item[0].description%>",
                price: parseInt('<%=item[0].price%>'),
                quantity: currentQuantity
            };
            // calculating end total based on price and quantity 
            function calcPrice(p, q) {
                return p * q;
            }
            // change quantity
            $("#qty").change(function(event){
                event.preventDefault();
                // alert($("#qty").val());
                $.ajax({
                    url: "./<%=item[0].name%>",
                    type: "GET",
                    contentType: "json",
                    data: "",
                    success: function () {
                        currentQuantity = parseInt($("#qty").val());
                        var newPrice = calcPrice(product.price, currentQuantity);
                        $("#price").html("Price: $" + newPrice);
                        // console.log(newPrice);
                        // console.log(currentQuantity);
                        product.quantity = currentQuantity;
                    },
                    error: function (request, error) {
                        alert("Request: " + JSON.stringify(error));
                    }
                });                
            });
            // click 'add to cart' button
            $("#addToCart").on('click', function(){
                // console.log("Add to cart");
                // console.log(product)
                // overall items in cart
                // let numItems = localStorage.getItem('items');
                // numItems = parseInt(numItems);
                // console.log(numItems);
                // if number > 0
                // if( numItems ){
                    // increase total by current quantity
                    // let addUp = parseInt(parseInt(numItems) + parseInt(quantity));
                    // localStorage.setItem('items', addUp);
                // } else {
                    // localStorage.setItem('items', quantity);
                // }

                $("#successAlert").show();
                // quantity of single item

                setItems(product);
              
            });

            function setItems(product){
                let cartItems = [];
                cartItems = JSON.parse(localStorage.getItem('productsInCart'));

                if(cartItems == null){
                    cartItems = [];
                }
                var a = 0;
                // cartItems = JSON.parse(cartItems);
                 //console.log(cartItems)
                 //console.log(Array.isArray(cartItems))
                // console.log(cartItems.length)
                // if cart has things in it
                if(cartItems.length != 0){
                    
                    let i;
                    var t = false;
                    for(i = 0; i<cartItems.length;i++){
                        if(cartItems[i].name == product.name){
                            cartItems[i].quantity += product.quantity;
                            t = true;
                            break;
                        }
                    }
                    if(t != true){
                        cartItems.push(product);
                    }
                                    
                    // cartItems.forEach(function(i){
                    //     // console.log(i.name == product.name)
                    //     if(!tempItems.includes(product.name) && tempItems.length == 0){
                    //         tempItems.push(product.name);
                    //     }
                    //     // if(i.name == product.name){
                    //     //     i.quantity += product.quantity;
                            
                    //     // }else{
                    //     //     return;

                    //     // }
                    // });
                    // if(!tempItems.includes(product.name)){
                    //     cartItems.push(product);
                    // }else{
                    //     cartItems.forEach(function(i){

                    //         i.quantity += product.quantity;
                    //     });
                    // }

                localStorage.setItem("productsInCart", JSON.stringify(cartItems));
                }else { // if cart is empty, add first item
                    cartItems.push(product);
                    localStorage.setItem("productsInCart", JSON.stringify(cartItems));
                }

         
                

            }
        });
    </script>
    
    <br>
    <%- include('./partials/footer.ejs') %>

</body>
</html>

    <!-- <script>
        $(document).ready(function(){

            let product = {
                name: "<%=item[0].name%>",
                description: "<%=item[0].description%>",
                price: "<%=item[0].price%>",
                quantity: "<%=item[0].quantity%>"
            };
            
            var quantity = $("#qty").val();
            quantity = parseInt(quantity);
            
            function calcPrice(p, q) {
                return p * q;
            }
// change quantity
            $("#qty").change(function(event){
                event.preventDefault();
                // alert($("#qty").val());
                $.ajax({
                    url: "./<%=item[0].name%>",
                    type: "GET",
                    contentType: "json",
                    data: "",
                    success: function () {
                        quantity = $("#qty").val();
                        quantity = parseInt(quantity);
                        var newPrice = calcPrice(product.price, quantity);
                        $("#price").html("Price: $" + newPrice);
                        console.log(newPrice);
                    },
                    error: function (request, error) {
                        alert("Request: " + JSON.stringify(error));
                    }
                });
            });
// click 'add to cart' button
            $("#addToCart").on('click', function(){
                console.log("Add to cart");
                quantity = parseInt(quantity);
// overall items in cart
                let numItems = localStorage.getItem('items');
                numItems = parseInt(numItems);

                if( numItems ){
                    localStorage.setItem('items', numItems + quantity);
                } else {
                    localStorage.setItem('items', quantity);
                }

                $("#successAlert").show();
// quantity of single item
                setItems(product);

            });

            function setItems(product){
                let cartItems = localStorage.getItem('productsInCart');
                cartItems = JSON.parse(cartItems);
                quantity = parseInt(quantity);
                // if cart has things in it
                if(cartItems != null){
                    // adding new item to cart if cart is not empty
                    if(cartItems[product.name] == undefined){
                        cartItems = {
                            ...cartItems,
                            [product.name]: product
                        };
                    }
                    let cartItemsQuantity = parseInt(cartItems[product.name].quantity)
                    cartItemsQuantity += parseInt(quantity);
                    cartItems[product.name].quantity = parseInt(cartItemsQuantity);
                } else { // if cart is empty, add first item
                    product.quantity = quantity;
                    cartItems = {
                        [product.name]: product
                    };
                }

                console.log(cartItems[product.name].quantity);
                
                localStorage.setItem("productsInCart", JSON.stringify(cartItems));

            }
        });
    </script> -->
    
