<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <%- include('./partials/scripts.ejs') %>

</head>
<body class="bg-light">
<!--Navigation bar (log in, sign up, log out, search)-->
<%- include('./partials/nav.ejs') %>
<script src="/javascripts/search.js"></script>

<div class="row no-gutters">
    <div class="col text-center">
        <!-- name -->
        <h3><%= item[0].name %></h3>
        <!-- Image -->
        <!-- <img src="/img/beer_test_img.jpg"> -->
        <img src="<%= item[0].img %>" id="beerPhoto" class="img-fluid" alt="Responsive image">
    </div>

    <div class="col">
        </br></br>
        <!-- description -->
        <p style="padding-left: 1em; margin-top: 1em;"> <%= item[0].description %> </p>
        <p style="padding-left: 1em;;" id="inStock">In-Stock:<%= item[0].quantity %> </p>
        <!-- price -->
        <div style="padding-left: 1em;" id="price" data-price="<%= item[0].price %>">
            <p>Price: $<%= item[0].price %></p>
        </div>
        <!-- quantity -->
        <div class="input-group" style="padding-left: 1em;">
            <input type="number" id="qty" name="quant[1]" value="1" min="1" max="<%= item[0].quantity %>">
            <button id="addToCart">Add To Cart</button>
        </div>
        <div id="successAlert" class="alert alert-success" role="alert" style="display: none; padding-left: 1em;">
            Added to Cart!
        </div>
        <div id="failAlert" class="alert alert-danger" role="alert" style="display: none; padding-left: 1em;">
            Failed to add to Cart!
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        // getting data from db
        let currentQuantity = parseInt($("#qty").val());
        let fixedQuantity = "<%= item[0].quantity %>";
        let product = {
            name: "<%= item[0].name %>",
            description: "<%= item[0].description %>",
            price: parseInt('<%= item[0].price %>'),
            quantity: currentQuantity,
            img: "<%= item[0].img %>"
        };

        // change quantity
        $("#qty").change(function (event) {
            event.preventDefault();
            console.log($("#qty").val());
            $.ajax({
                url: "./<%= item[0].name %>",
                type: "GET",
                contentType: "json",
                data: "",
                success: function () {
                    currentQuantity = parseInt($("#qty").val());
                    var newPrice = calcPrice(product.price, currentQuantity);
                    $("#price").html("Price: $" + newPrice);
                    product.quantity = currentQuantity;
                },
                error: function (request, error) {
                    alert("Request: " + JSON.stringify(error));
                }
            });
        });
        // click 'add to cart' button
        $("#addToCart").on('click', function () {
            console.log("click");
            if (checkQty(product)) {
                $("#successAlert").show();
                console.log(localStorage.getItem("productsInCart"));
                setItems(product);
            }
            $("#inStock").html("In-Stock: " + fixedQuantity);
        });

        // calculating end total based on price and quantity
        function calcPrice(p, q) {
            return p * q;
        }

        function checkQty(product) {
            console.log(fixedQuantity + " " + $("#qty").val());
            if ($("#qty").val() > fixedQuantity) {
                $("#successAlert").hide();
                $("#failAlert").show();
                return false;
            } else {
                fixedQuantity -= $("#qty").val();
                return true;
            }
        }

        function setItems(product) {
            let cartItems = JSON.parse(localStorage.getItem('productsInCart')) || [];
            console.log(localStorage.getItem("productsInCart"));

            // if cart has things in it
            if (cartItems.length > 0) {
                let t = false;
                for (let i = 0; i < cartItems.length; i++) {
                    if (cartItems[i].name === product.name) {
                        cartItems[i].quantity += product.quantity;
                        t = true;
                        break;
                    }
                }
                if (t !== true) {
                    cartItems.push(product);
                }
                console.log("true")
                localStorage.setItem("productsInCart", JSON.stringify(cartItems));
            } else { // if cart is empty, add first item
                cartItems.push(product);
                localStorage.setItem("productsInCart", JSON.stringify(cartItems));
                cartItems = JSON.parse(localStorage.getItem('productsInCart')) || [];
                console.log(cartItems);
            }
        }
    });
</script>

<br>
<%- include('./partials/footer.ejs') %>

</body>
</html>
