<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%- include('./partials/scripts.ejs') %>
      
</head>
<body class="bg-light">
<%- include('./partials/nav2.ejs') %>
<script src="/javascripts/search.js"></script>

<!--Area for scrolling over product images/prices-->
<div class="container">
    <div class="row">
        <% data.forEach(function(item, index) { %>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <a href="/products/<%= item.name %>">
                        <img src="/img/beer_test_img.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- name -->
                                <%= item.name %>
                                <!-- brand -->
                                <%= item.description %>
                                <!-- price -->
                                <p> $<%= item.price %> </p>
                                <!-- rating -->
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<%- include('./partials/footer.ejs') %>

</body>
</html>